[submodule "themes/universal"]
	path = themes/universal
	url = https://github.com/devcows/hugo-universal-theme.git
[submodule "themes/elate"]
	path = themes/elate
	url = https://github.com/saey55/hugo-elate-theme.git
