@font-face {
  font-family: 'GothamRoundedBook'; 
  src: url("/static/fonts/Gotham-Rounded-Book.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'GothamRoundedMedium'; 
  src: url("/static/fonts/Gotham-Rounded-Medium.otf") format("opentype");
  font-style: normal;
}

body {
  font-family: 'GothamRoundedBook', sans-serif;
  /* font-family: 'GothamRoundedMedium', sans-serif; */
}

#fh5co-work .work__footer-text h2 {
  color: rgba(255, 255, 255, 0.8);
  /* font-size: 28px; */
  /* font-size: larger; */
}

#fh5co-home .text-inner h1 {
  /* font-family: AyitaPro,Helvetica,Arial,sans-serif */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Yantramanav', sans-serif; */
  /* font-family: 'GothamRoundedBook', sans-serif; */
  /* font-family: 'GothamRoundedMedium', sans-serif; */
}

#fh5co-home .text-inner h2 {
  font-size: 32px;
  /* line-height: 38px; */
  /* margin: 0; */
  margin-bottom: 20px;
}

/* Fix Elate's theme navbar issue */
.fh5co-nav-toggle {
  /* margin: 0 auto; */
  /* margin-right: 15px; */
}

#fh5co-header .navbar-brand {
  /* padding-left: 0; */
  /* padding: 15px 15px; */
}

/* body {
  padding-top: 70px;
} */

/* Responsive */
@media (max-width: 1199px) { /* medium devices */
  #footer .gotop {
    width: 60px;
    height: 60px;
    margin-left: -30px;
  }
}