{{ define "main" }}

  <!-- Author / Date -->
  {{ if not .Date.IsZero }}
    <p class="font-smaller text-muted text-uppercase mb-small text-right">
      {{ if .Params.author }}<i class="icon-user"></i> Autor: <a href="#">{{ .Params.author }}</a> | {{ end }}
      {{/* .Date.Format .Site.Params.date_format */}}
      {{ $data := index .Site.Data .Site.Language.Lang }}
      <i class="icon-calendar"></i> {{ .Date.Day }} · {{ index $data.months (printf "%d" .Date.Month) }} · {{ .Date.Year }}
    </p>
  {{ end }}

  <!-- Article image -->
  {{ with .Params.banner }}
  <div class="article-header-image" style="background-image: url('/images/blog/{{ . }}')" title="{{ $.Title }}"></div>
  {{ end }}

  <!-- Article content -->
  <article class="page-content">
    {{ .Content }}
    {{ with .Params.source }}
    <div class="source text-muted">Fonte: <a href="{{ . }}" target="_blank">{{ . }}</a></div>
    {{ end }}
  </article>

  {{/*  
  <!-- Ebook -->
  {{ partial "download-ebook.html" }}
  */}}

  <!-- Buttons -->
  <div class="buttons bottom-buttons">
    <a class="btn btn-primary btn-sm" rel="nofollow" href="{{ .Site.BaseURL }}blog/">Voltar</a>
  </div>

  <!-- Social sharing -->
  {{ if .Site.Params.socialSharing }}
    {{ partial "social-sharing.html" . }}
  {{ end }}

  <!-- Comments -->
  {{ if not (in (string .Site.BaseURL) "localhost") }}
    {{ if .Site.DisqusShortname }}
    <hr class="acp-hr variation-3">
    <div class="disqus-comments">
      {{ template "_internal/disqus.html" . }}
    </div>
    {{ end }}
  {{ else }}
    <hr class="acp-hr variation-3">
    <div class="alert alert-warning">Disqus desabilitado em <code>localhost</code>.</div>
  {{ end }}

{{ end }}
