<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  
  <body>
    {{ partial "no-script.html" . }}

    <!-- Header-->
    {{ partial "nav-pages.html" . }}
    {{ partial "breadcrumbs" . }}

    <div id="content">
      <div class="container">
        <div class="row">

          {{ block "main" . }}
          {{ end }}

        </div>
      </div>
    </div>

    <!-- Footer-->
    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" .}}
    {{ end }}

    <!-- Javascript -->
    {{ partial "js.html" . }}

    <!-- TODO Delete -->
    <!-- {{ partial "_debug.html" . }} -->

  </body>
</html>
