<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  
  <body>
    {{ partial "nav-pages.html" . }}
    
    <!-- {{ partial "xxx.html" }} -->

    <pre>
      .Parent: {{ .Parent }} / .CurrentSection: {{ .CurrentSection }}
      .Section: {{ .Section }} / .Sections: {{ .Sections }}
      .Type: {{ .Type }} / .IsPage: {{ .IsPage }}
    </pre>
    
    <!-- TODO Usar este IF ou criar um blog/single.html ??? -->
    {{ if eq .Section "blog" }}
      <a class="btn btn-danger btn-sm" href="/blog/">Voltar</a>
    {{ end }}

    <h1>Single page do <code>_default</code>: {{.Title}}</h1>

    {{.Content}}

    {{ partial "js.html" . }}

    <!-- TODO Delete -->
    <code style="font-size: small;">Type: {{.Type}} / Kind: {{.Kind}} / Section: {{.Section}}</code>

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" .}}
    {{ end }}

  </body>
</html>
