<div id="heading-breadcrumbs" aria-role="banner">
  {{/* <div class="container"> */}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {{/*  <h1>{{ with .Section }} {{ . }} > {{ end }} {{ .Title }}</h1>  */}}
        <h1>{{ .Title }}</h1>
        <h2>{{ .Description | markdownify }}</h2>
        {{/*
        {{ if eq .Type "blog" }}
        <h1>Blog</h1>
        {{ else }}
        <h1>{{ .Title }}</h1> <!-- Page -->
        {{ end }}
        <h4>{{ .Description }}</h4>
        */}}
        {{/*  TODO @Denis: Adicionar link no titulo no blog com {{.Permalink}}?  */}}
      </div>
    </div>
  </div>
</div>
