	<footer id="footer" role="contentinfo">
		<a href="#" class="gotop js-gotop" aria-label="Ir ao topo da página"><i class="icon-arrow-up-circle"></i></a>
		<div class="container">
			<div class="">
				<div class="col-md-12 text-center">
					<!-- <span>{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</span> -->
					<span>{{ T "copyright" | markdownify }}</span>
					{{ if .Site.Params.footer.privacyPolicy }}
						<p class="privacy text-muted">
							<a href='{{ T "privacyPolicyUrl" | relLangURL }}'>{{ T "privacyPolicy" }}</a>
						</p>
					{{ end }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
					{{ range .Site.Params.footer.links }}
						{{ $link_label := substr (index . 0) 12 }}
						<li><a href="{{ with index . 1}}{{ . }}{{ end }}" target="_blank" aria-label="{{ $link_label }}"><i class="{{ with index . 0}}{{ . }}{{ end }}"></i></a></li>
					{{ end }}
					</ul>
				</div>
			</div>
		</div>

		<!-- Debug info -->
		{{ partial "debug-version.html" . }}

	</footer>
