	<section id="fh5co-intro">
		<div class="container">
			<!-- <div class="row row-bottom-padded-lg"> -->
			<div class="row-bottom-padded-lg blocks-container">
				{{ range .Site.Params.intro.item }}
				<!-- <div class="fh5co-block to-animate" style="background-image: url(images/{{ .img }});"> -->
				<div class="fh5co-block to-animate">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon {{ .icon }}"></i>
						<h2>{{ .title }}</h2>
						<p>{{ .description }}</p>
						{{ if .button}}
						<a href="{{ .url }}" class="btn btn-primary">{{ .button}}</a>
						{{ end }}
					</div>
				</div>
				{{ end }}
			</div>
			{{ if .Site.Params.intro.video.enable }}
			<div class="row watch-video text-center to-animate">
				<span class="col-md-8 col-md-offset-2">{{.Site.Params.intro.video.title | markdownify }}</span>
				<span class="col-md-8 col-md-offset-2">
					<a href="{{ .Site.Params.intro.video.url }}" class="popup-vimeo btn-video"><i class="{{ .Site.Params.intro.video.icon }}"></i></a>
				</span>
			</div>
			{{ end }}
		</div>
	</section>