	<!-- jQuery -->
	<!-- For production -->
	<!-- <script src="js/jquery.min.js"></script> -->
	<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
	<!-- TODO Abrir um pull request pro Elate para não importar o map -->
	<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script> -->
	<!-- For development -->
	<!-- <script src="https://code.jquery.com/jquery-2.1.4.js" integrity="sha256-siFczlgw4jULnUICcdm9gjQPZkw/YPDqhQ9+nAOScE4=" crossorigin="anonymous"></script> -->
	
	<!-- jQuery Easing -->
	<script src="{{ .Site.BaseURL }}js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="{{ .Site.BaseURL }}js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="{{ .Site.BaseURL }}js/jquery.stellar.min.js"></script>
	<!-- Counter -->
	<script src="{{ .Site.BaseURL }}js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="{{ .Site.BaseURL }}js/jquery.magnific-popup.min.js"></script>
	<script src="{{ .Site.BaseURL }}js/magnific-popup-options.js"></script>
	<!-- Google Map (load only in the Home page) -->
	{{ if and (.Site.Params.contact.map) (.IsHome) }}
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
		<script src="{{ .Site.BaseURL }}js/google_map.js"></script>
	{{ end }}
	<!-- Main JavaScript -->
	<!-- <script src="{{ .Site.BaseURL }}js/main.js"></script> Overrided by elate-main.js -->
	<script src="{{ .Site.BaseURL }}js/elate-main.js"></script>
	<script src="{{ .Site.BaseURL }}js/custom.js"></script>
	
	<!-- 
	<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0/jquery.counterup.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax.js"></script>
	-->

	<!-- Google Analytics -->
	{{ template "_internal/google_analytics_async.html" . }}
