<section class="check-requirements-form">

  {{/*  Atualmente este formulário de contato está desabilitado no config.toml */}}
  <form method="post" class="about-you-form" action="https://app.villetarget.com/lists/5b28068644804/embedded-form-subscribe-captcha">
    <input type="hidden" name="_subject" value='{{ $.Page.Site.Params.EmailsSubjectPrefix}} {{ T "formEmailSubject" }}' />
    <input type="hidden" name="_cc" value='{{ delimit .Site.Params.contact.emailCc "," }}' />
    <input type="hidden" name="_language" value="{{ $.Page.Site.LanguageCode }}" />

    <!-- TODO Mostrar uma página de confirmação? -->
    <!-- <input type="hidden" name="_next" value="/thanks.html" /> -->

    <!-- TODO Separar em seções como "Dados pessoais", "Educação" e "Experiência profissional" -->

    <!-- TODO Vamos ter um ou dois campos obrigatórios? Ou todos eles? -->
    
    <!-- TODO Usar um Horizontal Form?
    https://getbootstrap.com/docs/3.3/css/#forms-horizontal  -->

    <!-- TODO Separar o label por ":"? -->
    <div class="form-group">
      <label for="name">{{ T "formLabelName" }}</label>
      <input id="name" name="nome" required type="text" placeholder='{{ T "formLabelNamePlaceholder" }}' class="form-control" autocomplete="name">
    </div>

    <div class="form-group">
      <label for="email">{{ T "formLabelEmail" }}</label>
      <input id="email" name="email" required type="email" placeholder='{{ T "formLabelEmailPlaceholder" }}' class="form-control" autocomplete="email">
    </div>

    <div class="form-group">
      <label for="phone">{{ T "formLabelPhone" }}</label>
      <input id="phone" name="telefone_celular" required type="text" placeholder='{{ T "formLabelPhonePlaceholder" }}' class="form-control" autocomplete="phone">
    </div>

    <div class="form-group">
      <label for="age">{{ T "formLabelAge" }}</label>
      <input id="age" name="lead_custom_field_idade" required type="number" placeholder='{{ T "formLabelAgePlaceholder" }}' class="form-control">
    </div>
    
    <div class="form-group">
      <label for="maritalStatus">{{ T "formLabelMaritalStatus" }}</label>
      <input id="maritalStatus" name="lead_custom_field_estado_civil" required type="text" placeholder='{{ T "formLabelMaritalStatusPlaceholder" }}' class="form-control">
    </div>

    <div class="form-group">
      <label for="city">{{ T "formLabelCity" }}</label>
      <input id="city" name="cidade" required type="text" placeholder='{{ T "formLabelCityPlaceholder" }}' class="form-control" autocomplete="city">
    </div>

    <div class="between-form-sections"></div>

    <div class="form-group">
      <label for="college">{{ T "formLabelUniversity" }}</label>
      <input id="college" name="lead_custom_field_universidade" required type="text" placeholder='{{ T "formLabelUniversityPlaceholder" }}' class="form-control">
    </div>

    <div class="form-group">
      <label>{{ T "formLabelExperience" }}</label>
      <div class="radio">
        <label><input required type="radio" id="experience#1" name="lead_custom_field_experiencia_como_enfermeiro(a)" value="Sem experiência"> {{ T "formLabelExperienceOption_01" }}</label>
      </div>
      <div class="radio">
        <label><input required type="radio" id="experience#2" name="lead_custom_field_experiencia_como_enfermeiro(a)" value="Aluno de graduação"> {{ T "formLabelExperienceOption_02" }}</label>
      </div>
      <div class="radio">
        <label><input required type="radio" id="experience#3" name="lead_custom_field_experiencia_como_enfermeiro(a)" value="1 – 12 meses"> {{ T "formLabelExperienceOption_03" }}</label>
      </div>
      <div class="radio">
        <label><input required type="radio" id="experience#4" name="lead_custom_field_experiencia_como_enfermeiro(a)" value="13 – 17 meses"> {{ T "formLabelExperienceOption_04" }}</label>
      </div>
      <div class="radio">
        <label><input required type="radio" id="experience#5" name="lead_custom_field_experiencia_como_enfermeiro(a)" value="18 – 24 meses"> {{ T "formLabelExperienceOption_05" }}</label>
      </div>
      <div class="radio">
        <label><input required type="radio" id="experience#6" name="lead_custom_field_experiencia_como_enfermeiro(a)" value="Acima de 24 meses"> {{ T "formLabelExperienceOption_06" }}</label>
      </div>
    </div>

    <div class="form-group">
      <label>{{ T "formLabelSpecialization" }}</label>
      <div class="radio">
        <label>
          <input required type="radio" id="specialization#2" 
              name="lead_custom_field_ja_fez_especializacao?" value="Não"
              onchange="disableEspecializacao(true)"> {{ T "basicNo" }}</input>
        </label>
      </div>
      <div class="radio">
          <label class="radio-inline">
            <input required type="radio" id="specialization#1" 
                name="lead_custom_field_ja_fez_especializacao?" value="Sim"
                onchange="disableEspecializacao(false)"> {{ T "basicYes" }}</input>
          </label>
          <input id="specialization" type="text" 
              name="lead_custom_field_area_de_especializacao" class="form-control"
              placeholder='{{ T "formLabelSpecializationPlaceholder" }}'
              required disabled="disabled" />
      </div>
    </div>

    <div class="between-form-sections"></div>
    
    <div class="form-group">
      <label>{{ T "formLabelEnglishTest" }}</label>
      <div class="radio">
        <label><input required type="radio" id="englishTest#1" name="lead_custom_field_ja_realizou_teste_de_proficiencia_em_ingles(toefl_ou_ielts)?" value="Sim"> {{ T "basicYes" }}</label>
      </div>
      <div class="radio">
        <label><input required type="radio" id="englishTest#2" name="lead_custom_field_ja_realizou_teste_de_proficiencia_em_ingles(toefl_ou_ielts)?" value="Não"> {{ T "basicNo" }}</label>
      </div>
    </div>
    
    <div class="form-group">
      <label>{{ T "formLabelEnglishLevel" }}</label>
      <div class="radio">
        <label><input required type="radio" id="englishLevel#1" name="lead_custom_field_nivel_de_ingles" value="Iniciante"> {{ T "formLabelEnglishLevelOption_01" }}</label>
      </div>
      <div class="radio">
        <label><input required type="radio" id="englishLevel#2" name="lead_custom_field_nivel_de_ingles" value="Intermediário"> {{ T "formLabelEnglishLevelOption_02" }}</label>
      </div>
      <div class="radio">
        <label><input required type="radio" id="englishLevel#3" name="lead_custom_field_nivel_de_ingles" value="Avançado"> {{ T "formLabelEnglishLevelOption_03" }}</label>
      </div>
      <div class="radio">
        <label><input required type="radio" id="englishLevel#4" name="lead_custom_field_nivel_de_ingles" value="Fluente"> {{ T "formLabelEnglishLevelOption_04" }}</label>
      </div>
    </div>

    <div class="between-form-sections"></div>

    <div class="form-group">
      <label>{{ T "formLabelHowDidFind" }}</label>
      <div class="radio" data-popup="tooltip">
        <label><input type="radio" id="lead_custom_field_como_conheceu_a_gente?" name="lead_custom_field_como_conheceu_a_gente?" value="Google" class="styled"/> {{ T "formLabelHowDidFindOption_01" }}</label>
      </div>
      <div class="radio" data-popup="tooltip">
        <label><input type="radio" id="lead_custom_field_como_conheceu_a_gente?" name="lead_custom_field_como_conheceu_a_gente?" value="Redes sociais" class="styled"/> {{ T "formLabelHowDidFindOption_02" }}</label>
      </div>
      <div class="radio" data-popup="tooltip">
        <label><input type="radio" id="lead_custom_field_como_conheceu_a_gente?" name="lead_custom_field_como_conheceu_a_gente?" value="Site de emprego" class="styled"/> {{ T "formLabelHowDidFindOption_03" }}</label>
      </div>
      <div class="radio" data-popup="tooltip">
        <label><input type="radio" id="lead_custom_field_como_conheceu_a_gente?" name="lead_custom_field_como_conheceu_a_gente?" value="Indicação" class="styled"/> {{ T "formLabelHowDidFindOption_04" }}</label>
      </div>
      <div class="radio" data-popup="tooltip">
        <label><input type="radio" id="lead_custom_field_como_conheceu_a_gente?" name="lead_custom_field_como_conheceu_a_gente?" value="Panfletos" class="styled"/> {{ T "formLabelHowDidFindOption_05" }}</label>
      </div>
      <div class="radio" data-popup="tooltip">
        <label><input type="radio" id="lead_custom_field_como_conheceu_a_gente?" name="lead_custom_field_como_conheceu_a_gente?" value="Outro" class="styled"/> {{ T "formLabelHowDidFindOption_06" }}</label>
      </div>

    </div>

    <div class="form-group">
      <label for="message">{{ T "formLabelMessage" }}</label>
      <textarea id="message" name="lead_custom_field_mensagem" cols="30" rows="5" placeholder='{{ T "formLabelMessagePlaceholder" }}' class="form-control"></textarea>
    </div>

    <div class="form-group">
      <input type="checkbox" name="privacy_policy_accepted" value="accept" id="villetarget_embedded_form_checkbox_privacy_policy" required />
      <label for="villetarget_embedded_form_checkbox_privacy_policy">
        {{/*  &nbsp;{{ T "formPrivacyPolicyAgreement" | safeHTML }}  */}}
        &nbsp;{{ T "formPrivacyPolicyAgreement" | markdownify }}
        <a href='{{ T "privacyPolicyUrl" | relLangURL }}'>{{ T "privacyPolicy" }}</a>.
      </label>
    </div>

    <div class="between-form-sections"></div>

    <!-- Submit button -->
    <div class="form-group">
      <input class="btn btn-primary btn-lg" value='{{ T "formButtonSubmit" }}' type="submit">
    </div>
    
  </form>
  
</section>

<script>
  function disableEspecializacao(shouldDisable) {
    console.log('Desabilitando o campo Especialização:', shouldDisable);
    if (shouldDisable) {
      $('#specialization').attr('disabled', 'disabled');
    } else {
      $('#specialization').removeAttr('disabled');
    }
  }
</script>
