<form method="post" class="about-you-form" action="https://app.villetarget.com/lists/5b28068644804/embedded-form-subscribe-captcha">
  <input type="hidden" name="_subject" value="{{ $.Page.Site.Params.EmailsSubjectPrefix}} Novo formulário enviado!" />
  <input type="hidden" name="_cc" value='{{ delimit .Site.Params.contact.emailCc "," }}' />
  <input type="hidden" name="_language" value="{{ $.Page.Site.LanguageCode }}" />

  <!-- TODO Mostrar uma página de confirmação? -->
  <!-- <input type="hidden" name="_next" value="/thanks.html" /> -->

  <!-- TODO Separar em seções como "Dados pessoais", "Educação" e "Experiência profissional" -->

  <!-- TODO Vamos ter um ou dois campos obrigatórios? Ou todos eles? -->
  
  <!-- TODO Usar um Horizontal Form?
  https://getbootstrap.com/docs/3.3/css/#forms-horizontal  -->

  <!-- TODO Separar o label por ":"? -->
  <div class="form-group">
    <label for="name">Nome</label>
    <input id="name" name="nome" required type="text" placeholder="Informe o nome completo" class="form-control" autocomplete="name">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" name="email" required type="email" placeholder="Informe um email válido" class="form-control" autocomplete="email">
  </div>

  <div class="form-group">
    <label for="phone">Telefone</label>
    <input id="phone" name="telefone_celular" required type="text" placeholder="Informe o telefone no formato (99) 99999-9999" class="form-control" autocomplete="phone">
  </div>

  <div class="form-group">
    <label for="age">Idade</label>
    <input id="age" name="lead_custom_field_idade" type="number" placeholder="Informe a idade" class="form-control">
  </div>
  
  <div class="form-group">
    <label for="maritalStatus">Estado civil</label>
    <input id="maritalStatus" name="lead_custom_field_estado_civil" type="text" placeholder="Informe o estado civil" class="form-control">
  </div>

  <div class="form-group">
    <label for="city">Cidade</label>
    <input id="city" name="cidade" required type="text" placeholder="Informe a cidade onde mora" class="form-control" autocomplete="city">
  </div>

  <div class="between-form-sections"></div>

  <div class="form-group">
    <label for="college">Universidade</label>
    <input id="college" name="lead_custom_field_universidade" required type="text" placeholder="Informe a universidade da graduação" class="form-control">
  </div>

  <div class="form-group">
    <label>Experiência como enfermeiro(a)</label>
    <div class="radio">
      <label><input type="radio" id="experience#1" name="lead_custom_field_experiencia_como_enfermeiro(a)" value="Sem experiência"> Sem experiência</label>
    </div>
    <div class="radio">
      <label><input type="radio" id="experience#2" name="lead_custom_field_experiencia_como_enfermeiro(a)" value="Aluno de graduação"> Aluno de graduação</label>
    </div>
    <div class="radio">
      <label><input type="radio" id="experience#3" name="lead_custom_field_experiencia_como_enfermeiro(a)" value="1 – 12 meses"> 1 – 12 meses</label>
    </div>
    <div class="radio">
      <label><input type="radio" id="experience#4" name="lead_custom_field_experiencia_como_enfermeiro(a)" value="13 – 17 meses"> 13 – 17 meses</label>
    </div>
    <div class="radio">
      <label><input type="radio" id="experience#5" name="lead_custom_field_experiencia_como_enfermeiro(a)" value="18 – 24 meses"> 18 – 24 meses</label>
    </div>
    <div class="radio">
      <label><input type="radio" id="experience#6" name="lead_custom_field_experiencia_como_enfermeiro(a)" value="Acima de 24 meses"> Acima de 24 meses</label>
    </div>
  </div>

  <div class="form-group">
    <label>Já fez especialização? Se sim, em qual área?</label>
    <div class="radio">
      <label class="radio-inline"><input type="radio" id="specialization#1" name="lead_custom_field_ja_fez_especializacao?" value="Sim"> Sim</label>
      <!-- TODO Habilitar esse campo apenas quando selecionar "Sim" -->
      <input id="specialization" name="lead_custom_field_ja_fez_especializacao?" type="text" placeholder="Informe a área de sua especialização" class="form-control">
    </div>
    <div class="radio">
      <label><input type="radio" id="specialization#2" name="lead_custom_field_ja_fez_especializacao?" value="Não"> Não</label>
    </div>
  </div>

  <div class="between-form-sections"></div>
  
  <div class="form-group">
    <label>Já realizou teste de proficiência em inglês (TOEFL ou IELTS)?</label>
    <div class="radio">
      <label><input type="radio" id="englishTest#1" name="lead_custom_field_ja_realizou_teste_de_proficiencia_em_ingles(toefl_ou_ielts)?" value="Sim"> Sim</label>
    </div>
    <div class="radio">
      <label><input type="radio" id="englishTest#2" name="lead_custom_field_ja_realizou_teste_de_proficiencia_em_ingles(toefl_ou_ielts)?" value="Não"> Não</label>
    </div>
  </div>
  
  <div class="form-group">
    <label>Nível de inglês</label>
    <div class="radio">
      <label><input type="radio" id="englishLevel#1" name="lead_custom_field_nivel_de_ingles" value="Iniciante"> Iniciante</label>
    </div>
    <div class="radio">
      <label><input type="radio" id="englishLevel#2" name="lead_custom_field_nivel_de_ingles" value="Intermediário"> Intermediário</label>
    </div>
    <div class="radio">
      <label><input type="radio" id="englishLevel#3" name="lead_custom_field_nivel_de_ingles" value="Avançado"> Avançado</label>
    </div>
    <div class="radio">
      <label><input type="radio" id="englishLevel#4" name="lead_custom_field_nivel_de_ingles" value="Fluente"> Fluente</label>
    </div>
  </div>

  <div class="between-form-sections"></div>

  <div class="form-group">
    <label for="message">Mensagem</label>
    <textarea id="message" name="lead_custom_field_alguma_mensagem?" cols="30" rows="5" placeholder="Você quer deixar alguma mensagem?" class="form-control"></textarea>
  </div>

  <div class="form-group"><input type="checkbox" name="privacy_policy_accepted" value="accept" id="villetarget_embedded_form_checkbox_privacy_policy" required><label for="villetarget_embedded_form_checkbox_privacy_policy" class="">Eu li e concordo com a Política de Privacidade.</label></div>

  <div class="between-form-sections"></div>

  <!-- Submit button -->
  <div class="form-group">
    <input class="btn btn-primary btn-lg" value="Enviar as respostas" type="submit">
  </div>
  
</form>